api_key=
api_key2=
DISCORD_HOOK=
DISCORD_BASE=
PORT=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

API_KEY_SPOT=
SECRET_KEY_SPOT=
PASSPHRASE_SPOT=

API_KEY_FUTURES=
SECRET_KEY_FUTURES=
PASSPHRASE_FUTURES=
KUCOIN_BASE_URL=https://openapi-sandbox.kucoin.com
KUCOIN_FUTURES_BASE_URL=https://api-sandbox-futures.kucoin.com

ADD_ORDER_URL=/api/v1/orders
ACCOUNT_INFO_URL=/api/v1/accounts
GET_SYMBOL_URL=/api/v1/symbols
GET_ORDER_BY_ID_URL=/api/v1/orders
CANCEL_ORDER_BY_ID_URL=/api/v1/orders
MONGO_URI=
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}

JWT_SECRET=

URL=http://localhost:3000
SENDER_EMAIL=
SENDER_EMAIL_PASSWORD=Mahdi@123